audio/*.TXT
image/*.TXT

extension/**
!extension/boss/**
!extension/cardpile/**
!extension/coin/**
!extension/3D精选/**
!extension/杀海拾遗/**
!extension/欢乐卡牌/**
!extension/玩点论杀/**
!extension/英雄杀/**

dist
dist-types
output
node_modules
package-lock.json
.turbo

# IDE
.idea
.vscode

# macOS
._*
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?

# Windows
ehthumbs.db
Thumbs.db

# electron
app
app.html
/main.js
Home
noname.ico
# localStorage.json